* {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: rgb(17, 16, 16); 
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

li {
  text-align: center;
  padding: 10px 14px;  
}

a {
  text-decoration: none;
  color: rgb(87, 85, 85);
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}