.search_container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google_logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 20px;
}

.search_bar {
  display: flex;
  margin: 0 auto;
  width: 550px;
  height: 45px;
  padding-left: 40px;
  border-radius: 50px;
  border: 1px solid rgb(214, 213, 213);
  outline: none;
}

.search_bar--wrapper {
  position: relative;
  max-width: 100%;
}

.search_icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
}

.voice-search_icon {
  position: absolute;
  width: 20px;
  top: 12px;
  right: 12px;
}

.search_bar:hover {
  box-shadow: 0 0 2px 1px rgba(185, 185, 185, 0.5);
  transition: all 200ms ease-in-out;
}

.search_bar::placeholder {
  font-family: arial, sans-serif;
  color: rgb(149, 146, 146);
  font-size: 14px;

}

button {
  margin-top: 30px;
  border: 1px solid transparent;
  background-color: #f8f9fa;
  padding: 8px 14px;
  border-radius: 4px;
}

.lucky_button {
  margin-left: 10px;
}

button:hover {
  border: 1px solid lightgray;
  cursor: pointer;
  box-shadow: 0 0 1px 1px rgba(189, 189, 189, 0.5);
}